<div id="login">
  <form class='form-signin' action='/login' method='POST'>
    <input type='text' name='username' required='true' autofocus='true'>
    <input type='password' name='password' required='true'>
    <button type='submit'>Sign in</button>
    <span/>
  </form>