<p id='test'>
  Click the button to initialize the comics database with the root directory at {{{db_path}}}</p>
<button id="load_database" onclick="loadDb()">Load Database</button>
<p id='socket_message'><i>not yet initialized</i></p>
<script src="/javascripts/initialize.js"></script>
